*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}
body,html{
    width: 100vw;
    height: 100vh;    
    
    
}
header{
    background: #67CCFF;
    text-align: center;
    color: black;
}
#calendario{
    margin: 5px;
}

.calendar{
    max-width: 760px;
    margin: 10px auto;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    border-radius: 8px;
}
.mes{
    text-align: center;
    color: #67CCFF;
    font-size: 2em;
    font-weight: bold;
}
.dias{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 10px 0;
    border-bottom: 1px solid black;
}
.dias span{
    color: #67CCFF;
    font-weight: bold;
    display: inline-block;
    width: 14.2%;

}
.data{
    display: flex;   
    width: 100%;
    flex-wrap: wrap;
}
.data span{
    display: inline-block;
    width: 14.2%;
    margin-bottom: 8px 0;    
    color: black;

}
.btna{    
    background: #67CCFF;
    margin: 5px;
    padding: 5px;     
    border-radius: 20px;
    border-style: none;
    box-shadow: 2px 2px 2px black;

}
.empresa{
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    
}
.circle{
    width: 40px; 
    height: 40px;   
    color: #FFFFFF;
    border-radius: 50%;
    background: #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
}
#grupo{
    width: 100vw;
    background-image: linear-gradient(to right, #67CCFF, #FFFFFF );
    text-align: center;    
}

footer{    
    background: #67CCFF; 
    text-align: center; 
    bottom: 0;
    position: fixed;
    width: 100%;  
}
#costureza{    
    text-decoration: none;
    color: white;
    
}
@media (max-width: 728px) {
    #calendario{
        width: 95vw;
    }   
}



