*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}
body,html{
    width: 100vw;
    height: 100vh;
    background: #E5E5E5;
    
}
header{
    background: #67CCFF;
    text-align: center;
    color: black;

}

#deacordo{
    background: white;
}

#pref{
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    background: #67CCFF;
    align-items: center;
    
}
#curriculo{
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle{
    width: 40px; 
    height: 40px;   
    color: #FFFFFF;
    border-radius: 50%;
    background: #2C2C2C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-number{
    width: 20px;
    font-size: small;
    color: #FFFFFF;
    border-radius: 50%;
    background: #0077FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sn{
    background: #67CCFF;
    border-radius: 50px;
    margin: 5px;
    padding: 5px;
}
#feedback{
    background: white;
}
#vaga{
    background: white;
}
#mostra{
    text-align: center;
}
#grupo{
    background-image: linear-gradient(to right, #67CCFF, #FFFFFF );
    text-align: center;
}
.hibri{
    border-bottom: 2px solid #000;
}
footer{    
    background: #67CCFF; 
    text-align: center; 
    bottom: 0;
    position: fixed;
    width: 100%;  
}
#costureza{    
    text-decoration: none;
    color: white;
    
}
@media (max-width: 728px) {
    #contatos{
        width: 95vw;
    }
    #curriculo{
        width: 100%;
    }
}