*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}
body,html{
    width: 100vw;
    height: 100vh;
    background: #E5E5E5;
    
}
header{
    background: #67CCFF;
    text-align: center;
    color: black;

}

#deacordo{
    background: white;
}

#pref{
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    background: #67CCFF;
    align-items: center;
    
}
#curriculo{
    background: #E5E5E5;
    width: auto;
}
#sn{
    background: #67CCFF;
    border-radius: 50px;
    margin: 5px;
    padding: 5px;
}
#feedback{
    background: white;
}
#vaga{
    background: white;
}
#mostra{
    text-align: center;
}
#grupo{
    background-image: linear-gradient(to right, #67CCFF, #FFFFFF );
    text-align: center;    
}
.hibri{
    border-bottom: 2px solid #000;
}
footer{    
    background: #67CCFF; 
    text-align: center;   
}
#costureza{    
    text-decoration: none;
    color: white;
}
@media (max-width: 728px) {
    #contatos{
        width: 95vw;
    }
}