*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;     
}
body,html{
    width: 100vw;
    height: 100vh;    
    background-image: linear-gradient(to bottom, #67CCFF, transparent,#FFFFFF );
    
}
header{
    background: #67CCFF;
    text-align: center;
    color: black;
}
#paravc{
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#curriculo{
    padding: 10px;    
    margin: 10px;
    border: 3px solid black; 
    border-radius: 20px;
    background: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formacao{
    width: 55vw;
    display: flex;
    justify-content: end;
}

#experiencia{
    height: 310px;
    padding: 10px;    
    margin: 10px;
    border: 3px solid black; 
    border-radius: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

#redes{
    padding: 10px;    
    margin: 10px;
    border: 3px solid black; 
    border-radius: 20px;
    background: white;
    text-align: center; 
}
#sobre{
    padding: 10px;    
    margin: 10px;
    border: 3px solid black; 
    border-radius: 20px;
    background: white;
    text-align: center; 
}

#btn{
    background: black;
    border-radius: 20px;
    color: white;
    margin: 10px;
    padding: 10px;
}
#grupo{
    width: 100vw;
    background-image: linear-gradient(to right, #67CCFF, #FFFFFF );
    text-align: center;    
}


footer{    
    background: #67CCFF; 
    text-align: center;   
}
#costureza{    
    text-decoration: none;
    color: white;
}

@media (max-width: 728px) {
    .formacao{
        width: 95vw;
    }
}