*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    
}
body,html{
    width: 100vw;
    height: 100vh;
    background: #E5E5E5;
    
}
header{
    background: #67CCFF;
    text-align: center;
    color: black;

}


#qualifica{
    background: white;
    border-bottom: 1px solid #000;
    margin: 5px;
    padding: 5px;
    
}
#sobrevaga{
    background: white;
    border-bottom: 1px solid #000;
    margin: 5px;
    padding: 5px;
    
}

#empresa{
    background: white;
    border-bottom: 1px solid #000;
    box-shadow: 5px 5px 5px black;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
   
}
#redes{
    background: white;
    border-bottom: 2px solid #000;
    box-shadow: 5px 5px 5px black;
    margin: 5px;
    padding: 5px;
    height: 200px;
    border-radius: 20px;

}
#vagas{
    background: #67CCFF;
    border-bottom: 1px solid #000;    
    margin: 5px;
    padding: 5px;    
    border-radius: 20px;
}
.cata{
    height: 100px;
}

#btn{
    margin: 5px;
   padding: 5px;
   border-radius: 20px;
    background-image: linear-gradient(to bottom, #67CCFF,#FFFFFF );
    color: #000;
}
#grupo{
    width: 100vw;
    background-image: linear-gradient(to right, #67CCFF, #FFFFFF );
    text-align: center;   
    
}

footer{    
    background: #67CCFF; 
    text-align: center; 
   
}
#costureza{    
    text-decoration: none;
    color: white;
}
@media (max-width: 728px) {
    #perfilempresa{
        width: 95vw;
    }
}