*{
    margin: 0px;
    padding: 0px;
}
body,html{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #67CCFF, transparent,#FFFFFF );
    text-align: center;
}
header{
    background: #67CCFF;
    text-align: center;
    color: black;
}
#login{
    padding: 15px;        
    
    
}
#mail, #senha{
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
.social{
    width: 30px;
    border-radius: 100px;
}
#sm{
    border-radius: 100px;
} 
#envia{
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    background-image: linear-gradient(to top, #67CCFF, transparent,#FFFFFF );
}
footer{    
    background: #67CCFF; 
    text-align: center;   
}
#costureza{    
    text-decoration: none;
    color: white;
}
