*{
    margin: 0px;
    padding: 0px;
}
body,html{
    width: 100vw;
    height: 100vh;
}
header{
    background: #67CCFF;
    text-align: center;
    color: black;
}

#registro{
    padding: 15px;    
    background-image: linear-gradient(to bottom, #67CCFF, transparent,#FFFFFF );
    text-align: center;
    
    
}
#mail, #senha, #nome, #sobrenome, #local{
    border-radius: 5px;
    margin: 5px;
}
#estudante{
    text-align: center;
}
.social{
    width: 30px;
    border-radius: 100px;
}
#sm{
    border-radius: 100px;
} 
#estudante{
    margin: 5px;
    text-align: center ;
}
#termos{
    text-align: justify;
}
#entra{
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    background-image: linear-gradient(to top, #67CCFF, transparent,#FFFFFF );
}
footer{    
    background: #67CCFF; 
    text-align: center;   
}
#costureza{    
    text-decoration: none;
    color: white;
}

