*{
    margin: 0px;
    padding: 0px;
}
body,html{
    width: 100vw;
    height: 100vh;
}
header{
    background: #67CCFF;
    text-align: center;
    color: black;
}



footer{    
    background: #67CCFF; 
    text-align: center;   
}
#costureza{    
    text-decoration: none;
    color: white;
}
