*{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
}
body,html{
    width: 100vw;
    height: 100vh;
    
    
}
header{
    background: #67CCFF;
    text-align: center;
    color: black;
}

.empresa{
    border: 1px solid #000;
    background-image: linear-gradient(to bottom, #67CCFF, transparent,#FFFFFF );
    margin: 5px;
    padding: 5px;
    
}
#grupo{
    width: 100vw;
    background-image: linear-gradient(to right, #67CCFF, #FFFFFF );
    text-align: center;    
}
footer{    
    background: #67CCFF; 
    text-align: center; 
    bottom: 0;
    position: fixed;
    width: 100%;  
}
#costureza{    
    text-decoration: none;
    color: white;
    
}
@media (max-width: 728px) {
    #contatos{
        width: 95vw;
    }
    #curriculo{
        width: 100%;
    }
}



